.search__outer__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 700;
}

/* Backdrop */

.search__backdrop {
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    /* Display and box model */
    width: 100%;
    height: 100%;
    display: none;

    /* Other */
    background-color: rgba(0, 0, 0, 0.502);
}

.search__outer {
    /* Positioning */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;

    /* Display and box model */
    height: 80%;
    width: 80%;
    max-height: 1000px;
    max-width: 1500px;
    padding: 10px;
    overflow-y: scroll;

    /* Other */
    border: 1px solid #e0e0e0;
    line-height: 1.875;
    background-color: #fcfcfc;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.09);
    text-align: left;
}

/* Custom scrollbar */

.search__outer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fcfcfc;
}

.search__outer::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #fcfcfc;
}

.search__outer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8f8f8f;
}

/* Cross icon on top-right corner */

.search__cross__img {
    width: 15px;
    height: 15px;
    margin: 12px;
}

.search__cross {
    position: absolute;
    top: 0;
    right: 0;
}

.search__cross:hover {
    cursor: pointer;
}

/* Input field on search modal */

.search__outer__input {
    /* Display and box model */
    width: 90%;
    height: 30px;
    font-size: 19px;
    outline: none;
    box-sizing: border-box;

    /* Other */
    background-color: #fcfcfc;
    border: none;
    border-bottom: 1px solid #757575;

    /* search icon */
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDUxIDQ1MSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxIDQ1MTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTQ0Ny4wNSw0MjhsLTEwOS42LTEwOS42YzI5LjQtMzMuOCw0Ny4yLTc3LjksNDcuMi0xMjYuMUMzODQuNjUsODYuMiwyOTguMzUsMCwxOTIuMzUsMEM4Ni4yNSwwLDAuMDUsODYuMywwLjA1LDE5Mi4zDQoJCXM4Ni4zLDE5Mi4zLDE5Mi4zLDE5Mi4zYzQ4LjIsMCw5Mi4zLTE3LjgsMTI2LjEtNDcuMkw0MjguMDUsNDQ3YzIuNiwyLjYsNi4xLDQsOS41LDRzNi45LTEuMyw5LjUtNA0KCQlDNDUyLjI1LDQ0MS44LDQ1Mi4yNSw0MzMuMiw0NDcuMDUsNDI4eiBNMjYuOTUsMTkyLjNjMC05MS4yLDc0LjItMTY1LjMsMTY1LjMtMTY1LjNjOTEuMiwwLDE2NS4zLDc0LjIsMTY1LjMsMTY1LjMNCgkJcy03NC4xLDE2NS40LTE2NS4zLDE2NS40QzEwMS4xNSwzNTcuNywyNi45NSwyODMuNSwyNi45NSwxOTIuM3oiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px 15px;
    padding-left: 25px;
}

.search__outer__input:focus {
    outline: none;
}

/* For material UI style underline on input field */

.search__outer .bar {
    position: relative;
    display: block;
    width: 90%;
    margin-bottom: 15px;
}

.search__outer .bar:before,
.search__outer .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.2s ease all;
}

.search__outer .bar:before {
    left: 50%;
}

.search__outer .bar:after {
    right: 50%;
}

.search__outer__input:focus ~ .bar:before,
.search__outer__input:focus ~ .bar:after {
    width: 50%;
}

/* Search result */

.search__result__single {
    margin-top: 10px;
    padding: 0px 10px;
    border-bottom: 1px solid #e6e6e6;
}

.search__result__box .active {
    background-color: rgb(245, 245, 245);
}

.search__error__box {
    color: black;
    min-width: 300px;
    font-weight: 700;
}

.outer_div_page_results {
    margin: 5px 0px;
    overflow: auto;
    padding: 3px 5px;
}

.search__result__single a {
    text-decoration: none;
    cursor: pointer;
}

/* Title of each search result */

.search__result__title {
    /* Display and box model */
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 15px;

    /* Other */
    color: #6ea0ec;
    border-bottom: 1px solid #6ea0ec;
}

.search__result__subheading {
    color: black;
    font-weight: 700;
    float: left;
    width: 20%;
    font-size: 15px;
    margin-right: 10px;
    word-break: break-all;
    overflow-x: hidden;
}

.search__result__content {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    margin-bottom: 0;
    line-height: inherit;
    float: right;
    width: calc(80% - 15px);
    text-align: left;
}

/* Highlighting of matched results */

.search__outer span {
    font-style: normal;
}

.search__outer .search__result__title span {
    background-color: #e5f6ff;
    padding-bottom: 3px;
    border-bottom-color: black;
}

.search__outer .search__result__content span {
    background-color: #e5f6ff;
    border-bottom: 1px solid black;
}

.search__result__subheading span {
    border-bottom: 1px solid black;
}

.outer_div_page_results:hover {
    background-color: rgb(245, 245, 245);
}

.br-for-hits {
    display: block;
    content: "";
    margin-top: 10px;
}

.rtd_ui_search_subtitle {
    all: unset;
    color: inherit;
    font-size: 85%;
}

.rtd__search__credits {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(-80% - 20px);
    width: 80%;
    max-width: 1500px;
    height: 30px;
    overflow: hidden;
    background: #eee;
    z-index: 100000;
    border: 1px solid #eee;
    padding: 5px 10px;
    text-align: center;
    color: black;
}

.rtd__search__credits a {
    color: black;
    text-decoration: underline;
}

.search__domain_role_name {
    font-size: 80%;
    letter-spacing: 1px;
}

@media (max-width: 670px) {
    .rtd__search__credits {
        height: 50px;
        bottom: calc(-80% - 40px);
        overflow: hidden;
    }
}

@media (min-height: 1250px) {
    .rtd__search__credits {
        bottom: calc(-1000px - 30px);
    }
}

@media (max-width: 630px) {
    .search__result__subheading {
        float: none;
        width: 90%;
    }

    .search__result__content {
        float: none;
        width: 90%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
